@model MVCSurfaceRTStore.Models.OrderModel

@helper Truncate(string input, int length)
 {
    if (input.Length <= length) {
        @input
    } else {
        @input.Substring(0, length)<text>...</text>
    }
}
@{
    ViewBag.Title = "Bestelling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
      @if (!WebSecurity.Initialized)
      {
          WebSecurity.InitializeDatabaseConnection("DefaultConnection", "UserProfile", "UserId", "UserName", false);
      }
      @if (User.Identity.IsAuthenticated)
      {
          <h2>Producten</h2>
            <div class="order div">
    @{
        int i = 0;
        using (Html.BeginForm("Order", "Store"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
        <br/>
            <fieldset>
                <legend>Wijzig account form</legend>
                <ol>
                    <li>
                        @Html.LabelFor(m => m.ModelEen) 
                        @Html.DropDownListFor(m => m.ModelEen, new SelectList((List<SelectListItem>)ViewBag.DropDownItems, "Text", "Value", "0"))
                    </li>
                    <li>
                        @Html.LabelFor(m => m.ModelTwee)
                        @Html.DropDownListFor(m => m.ModelTwee, new SelectList((List<SelectListItem>)ViewBag.DropDownItems, "Text", "Value", "0"))
                    </li>
                    <li>
                        @Html.LabelFor(m => m.ModelDrie)
                        @Html.DropDownListFor(m => m.ModelDrie, new SelectList((List<SelectListItem>)ViewBag.DropDownItems, "Text", "Value", "0"))
                    </li>
                    <li>
                        @Html.LabelFor(m => m.ModelVier)
                        @Html.DropDownListFor(m => m.ModelVier, new SelectList((List<SelectListItem>)ViewBag.DropDownItems, "Text", "Value", "0"))
                    </li>
                    <li>
                        @Html.LabelFor(m => m.ModelVijf)
                        @Html.DropDownListFor(m => m.ModelVijf, new SelectList((List<SelectListItem>)ViewBag.DropDownItems, "Text", "Value", "0"))
                    </li>
                    <li>
                        @Html.LabelFor(m => m.AccessoireEen)
                        @Html.DropDownListFor(m => m.AccessoireEen, new SelectList((List<SelectListItem>)ViewBag.DropDownItems, "Text", "Value", "0"))
                    </li>
                    <li>
                        @Html.LabelFor(m => m.AccessoireTwee)
                        @Html.DropDownListFor(m => m.AccessoireTwee, new SelectList((List<SelectListItem>)ViewBag.DropDownItems, "Text", "Value", "0"))
                    </li>
                    <li>
                        @Html.LabelFor(m => m.AccessoireDrie)
                        @Html.DropDownListFor(m => m.AccessoireDrie, new SelectList((List<SelectListItem>)ViewBag.DropDownItems, "Text", "Value", "0"))
                    </li>
                </ol>
                <input type="submit" value="Plaats bestelling" />
            </fieldset>
        }
    }
                </div>
      }
