@model IEnumerable<MVCSurfaceRTStore.Models.Product>

@helper Truncate(string input, int length)
 {
    if (input.Length <= length) {
        @input
    } else {
        @input.Substring(0, length)<text>...</text>
    }
}
@{
    ViewBag.Title = "Producten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Producten</h2>
<br />
<div class="content">
    @foreach (var product in Model)
    {
        <div class="content div">
            <b><a href="@Url.RouteUrl(new { Controller = "Store", Action = "ProductDetails", Id = product.ProductId })">@Truncate(product.ProductName, 40)</a></b>
            <ul><li><b>Prijs:</b> €@string.Format("{0:0.00}", product.Price)</li></ul>            
                <a href="@Url.RouteUrl(new { Controller = "Store", Action = "ProductDetails", Id = product.ProductId })">
                <img src="@product.ImageUrl" alt="@product.ProductName" class="image"/>               
            </a>            
        </div>
    }   
</div>
